@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400i,700i|Roboto:100,100i,300,300i,400,400i,500,500i&display=swap');
:root {

--nav-bar-bg-color:#000;
--nav-bar-items-color:#B0E0E6;

  --h1-font-color:#fff; 
  --p-font-color:#fff;

  --h1-font-family:Roboto;
  --p-font-family:Lato;

  --font-bg-color: #8B0000;
  --stand-out-color: #DAA520;

  --hr-bg-color: #FF4500;

  --text-hover-color: #BDB76B;
  --text-hover-bg-color: #DCDCDC;
  }

body {
    padding: 0;
    margin: 0;
    text-decoration: none;
   
}

/*--------------------Header Area ------------------------- */
.navbar {
     background-color:var(--nav-bar-bg-color);
     opacity: 0.9;
}
#logo{
    letter-spacing: 5px;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
     background: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
    
}
#logo span{color: var( --stand-out-color);
    }
.navbar-menu-items{
    color: #fff;
}
.navbar-menu-items:hover{
font-weight: bold;
color: var(--nav-bar-items-color);
}
.active{
 border-bottom: 1px solid #fff;
  
}
.navbar-menu-list-items{
    color: #fff;
}

.dropdown-menu-item-bg-color{
    background-color: black;
}

 .dropdown-menu-item-bg-color  a:hover{
    background-color: red;
    color: black;
}

.container-media-services {
    height: 50vh;
    background: url('../images/landscape/home-hero-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron {
    background-color: transparent;
}
.jumbotron h1 {
    color:var(--h1-font-color);
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: var(--h1-font-family);
    }
    .jumbotron h2 {
    color:var(--h1-font-color);
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: var(--h1-font-family);
    }
.jumbotron h1 span {
  color: var( --stand-out-color);
    }
.hr-divider {
    width: 140px;
    height: 5px;
    border: 0;
    background-color: var(--hr-bg-color);
}
.jumbotron .lead {
    color:var(--p-font-color);
    margin: 25px 0;
    font-size: 25px;
    font-family: var(--p-font-family);
    
}
.jumbotron h1:hover{
font-weight: bold;
}
.jumbotron p:hover{
   font-weight: bold;
}