@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400i,700i|Roboto:100,100i,300,300i,400,400i,500,500i&display=swap');
:root {

--nav-bar-bg-color:#000;
--nav-bar-items-color:#B0E0E6;

  --h1-font-color:#fff; 
  --p-font-color:#fff;

  --h1-font-family:Roboto;
  --p-font-family:Lato;

  --font-bg-color: #8B0000;
  --stand-out-color: #DAA520;

  --hr-bg-color: #FF4500;

  --text-hover-color: #BDB76B;
  --text-hover-bg-color: #DCDCDC;
  }

body {
    padding: 0;
    margin: 0;
    text-decoration: none;
   
}

/*--------------------Header Area ------------------------- */
.navbar {
     background-color:var(--nav-bar-bg-color);
     opacity: 0.9;
}
#logo{
    letter-spacing: 5px;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    
}
#logo span{color: var( --stand-out-color);
    }
.navbar-menu-items{
    color: #fff;
}
.navbar-menu-items:hover{
font-weight: bold;
color: var(--nav-bar-items-color);
}
.active{
  background: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  
  
}
.navbar-menu-list-items{
    color: #fff;
}

.dropdown-menu-item-bg-color{
    background-color: black;
}

 .dropdown-menu-item-bg-color  a:hover{
    background-color: red;
    color: black;
}

/*--------------------Hero first section Area ------------------------- */
.callout-container {
    height: 100vh;
    background: url('../images/landscape/home-hero-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron {
    background-color: transparent;
}
.jumbotron h1 {
    color:var(--h1-font-color);
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: var(--h1-font-family);
    }
.jumbotron h1 span {
  color: var( --stand-out-color);
    }
.hr-divider {
    width: 140px;
    height: 5px;
    border: 0;
    background-color: var(--hr-bg-color);
}
.jumbotron .lead {
    color:var(--p-font-color);
    margin: 25px 0;
    font-size: 25px;
    font-family: var(--p-font-family);
    
}
.jumbotron h1:hover{
font-weight: bold;
}
.jumbotron p:hover{
   font-weight: bold;
}

/* --------------------Wedding area section Area ------------------------- */
#wedding-promo-section{
    height: 100vh;
    background: chocolate;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
     }
 .wedding-image{
    width: 100%;
    height: 100%;
    }
 .wedding-image img{
    width: 100%;
    height: 100%;
 }
 button {
      margin-bottom: 10px;
 }

/* --------------------carousel-head-section-area ------------------------- */
#headshots-section{
    padding: 18px;
    overflow: hidden;
    background-color: coral;
}
.carousel-text-styling{
   font-size: 22px;
   padding-bottom: 10px;
    
}
/* --------------------landscape-section-area ------------------------- */
#landscape-and-product-photography-section{
    padding: 18px; 
    overflow: hidden;
    background:rgba(255,255,255, 0.3);
    color: #000;
    margin: auto;
     }
.landscape-col-md-4-customs-styling{
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
     }
.image-div{
    padding: 10px;
}
.product-image-div{
    width: 30%;
    height: 30%;
}
.image-div .landscape-images{
   height: 50%; 
   width: 100%;   
}
.image-div .product-images{
      width: 70%;   
}
.landscape-second-row{
    padding-top: 25px;
}
/*--------------------Video section Area (second section) ------------------------- */
#video-section{
     height: 100vh;
    background: coral;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.video-container{
    padding-top: 5px;
}
.video-bg{
    width: 100%;
    height: 100%;
}
/*Footer Section=======*************************========*/
#footer-section{
    padding: 28px; 
    overflow: hidden;
    background-color: chocolate;
    color: #000;
    margin: auto;
}

/*Wedding Page=======*************************========*/
/*--------------------Hero first section Area ------------------------- */
.wedding-page-callout-container {
    height: 100vh;
    background: url('../images/wedding-images/wedding8.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 580px) { 
    .jumbotron h1 {
    
    font-size: 60px;
    }
   .hide-on-small{
       display: none;
     }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .hide-on-medium{
       display: none;
     }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
     .hide-on-large{
       display: none;
     }
 }
 @media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.hide-on-medium{
       display: none;
     }
 }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
.hide-on-medium{
       display: none;
     }
 }
}