
body {
    padding: 0;
    margin: 0;
    background-color:#fff;
}
/**** Hero Video section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     background: rgba(0, 0 , 0, 0.2);
    color: #fff;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
     min-height:100vh;
}

.video-bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
/* ===============Jumbotron section=======*************************========*/
.callout-container {
    height: 100vh;
    background: url('../images/wedding1.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron {
    background-color: transparent;
}
.jumbotron h1:hover{
font-weight: bold;
}
.jumbotron p:hover{

color: #fff;
 font-weight: bold;
}
.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}
.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 140px;
    height: 5px;
    border: 0;
    background-color: #655421;
}
.jumbotron h1 {
    color:#6D5A1C;
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 60px;
    
}
/*---------Promotions section--------*/
.my-flex-style {
     color:#655421;
     background-color:#010b13;
 
     border-right: double;
     border-right-color: #b60c26;
     border-right-width: 4px;
    
    
}
.my-flex-style h2{
    font-size: 30px;
}
.column-layout{
    max-width: 100%;
    background-color:#010b13;
    color:#655421;
    margin: 0px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}
.main-column{
    flex: 2;
    order: 2;
}
.banner{
    order: 1;
    height: 400px;
    max-width: 700px;
    margin: 0px auto 0px auto;
    display: flex;
    flex: 1;
    text-align: center;
}
.center-me{
         color:#655421;
   
    font-size: 22px;
    margin: auto;
}


/*Footer Section=======*************************========*/



/* Wedding-services.html styling*/
#showcase{
    margin: 0;
    padding: 0;
    background: url('../images/wedding1.jpg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: sticky;
    overflow-y: hidden;
     }
 .container
{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
#showcase .container{
  margin-top: 25vh;
  }
 #showcase h1{
     font-size: 4rem;
     margin-bottom: 0;
     color:#655421;
 } 
 #showcase h2{
     font-size: 2rem;
     color:#655421;
 } 
 .lead{
    font-size: 1.3rem;
    font-weight: 300;
    color:#655421;
 }

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 580px) { 
   .hide-on-small{
       display: none;
   }
   
   #showcase {
       height: 50vh;
   }
   #showcase .container{
       margin-top: 15vh;
   }
   #showcase h1{
       font-size: 1.5rem;
   }
   #showcase h2{
       font-size: 1.2rem;
   }
    .d-flex{     
        flex-direction: column;       
}
.my-flex-style h2{
    border-right: unset;
     border-right-color: unset;
     border-right-width: unset;
    
    font-size: 30px;
    border-top: double;
    border-top-color: #b60c26;
     border-top-width: 4px;
        
}
.column-layout, .main-column{
   
    flex-direction:column; 
}


}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }